
/*ABOUT*/
.contentSliderAbout{
	height: 420px;
	/*border:2px solid red;*/
	position: relative;
	width: 100%;
}

.aboutimgbottom{
	position: absolute;
	bottom: -16px;
	right: 0;
}
.textAboutTop p{
	font-family: helvetic;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
}

@media(min-width: 880px){
.swiper-container{
	height: 376px !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
	/*max-width: 1240px !important;*/
	max-width: 85vw;
	overflow: hidden;
}
}
@media(max-width: 879px){
.swiper-container{
	height: 376px !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
	/*max-width: 1240px !important;*/
	max-width: 82vw;
	overflow: hidden;
}
}
.swiper-wrapper{
	margin: 0 auto;
}
.sliderElAbout{
	width: 486px;
	height: 376px;
	background: pink;
	/*margin: 0 15px;*/
}

@media(min-width: 768px){
.arrowLeft, .arrowRight{
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 100;
	top: 126px;
	outline: none;
} 
}
@media(max-width: 767px){
.arrowLeft, .arrowRight{
	display: none;
} 
}
.arrowLeft{
	left: 0;
}

.arrowRight{
	right: 0;
}



.textBottomAbout{
	font-family: ventilight, ventilightIE;
	font-size: 36px;
	line-height: normal;
	letter-spacing: 5px;
	color: #F8F8F8;
	position: relative;
	z-index: 10;
}



.cardsAbout{
	display: flex;
	flex-wrap: wrap;
}

.cardAbout{
	margin: 0 auto;
	display: flex;
	width: 281px;
	height: 100px;
}
.leftImg{
	
}

.rightTexts{

}
.rightTexts h3{

}
.rightTexts p{

}




.advantagesBodyItem{
	width: 281px;
	height: 100px;
	margin: 15px 0;
}

.advantagesBodyItemText{
	width: 191px;
	font-family: ventimedium, ventimediumIE;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 2px;
	margin-left: 22px;
	margin-bottom: 0;
}


.cardsAbout{
	width: 100%;
	position: relative;
	z-index: 10;
}
.cardsAbout div{
	display: flex;
	margin: 0 auto !important;
}





.bottomBlockAbout{
	max-width: 1262px;
	margin: 0 auto;
	margin-top: -40px;
	font-family: helvetic;
}
.bottomBlockAbout h3{
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	color: #DF172D;
}

.bottomBlockAbout p{
	margin-top: 44px;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
}

@media(min-width: 780px){
	.swiper_pagination_about{
		display: none;
	}
}
@media(max-width: 769px){
	.swiper_pagination_about{
		display: block;
		/*margin: 0 auto;*/
		margin-right: auto;
		margin-left: 44px;
		position: relative;
		z-index: 3000 !important;
		/*margin-top: -11px;*/
		max-width: 100px;

	}
}

.swiper-pagination-bullet{
	width: 15px;
	height: 15px;
	background: #48403B !important;
}
.swiper-pagination-bullet-active{
	width: 15px;
	height: 15px;
	background: #DF172D !important;
}

/*../ ABOUT*/