/************************************
*************************************/
.breadCrumb{
    margin-top: 40px;
    margin-bottom: 72px;
}
.breadCrumb ol{
    padding: 0;
}

.breadCrumb ol li{
    list-style: none;
    font-family: ventimedium, ventimediumIE;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2px;
    color: #A09B87;
    padding: 0 18.5px;
    position: relative;

}

.breadCrumb ol li:before{
    content: url('../img/breadcramp.svg');
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.breadCrumb ol li:last-child:before{
    content: none;
}

.breadCrumb ol li a{
    color: #48403B;
}

.breadCrumb ol li a:hover{
    color: #f8f8f8;
}

/*******
	CONTACT SECTION STYLE
*********/



.contactTitle{
	font-family: ventimedium, ventimediumIE;
	font-size: 36px;
    line-height: normal;
    letter-spacing: 5px;
	position: relative;
}

.contactTitleTriangle{
	position: absolute;
	top: -96px;
	left: 16px;
	z-index: -1;
}

.contactTitlePatern{
	position: absolute;
	top: -20px;
	left: -190px;
	z-index: -2;
}
