

/************************************
  MAP STYLING 
*************************************/

.ymaps-layers-pane {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

/************************************
*************************************/
.breadCrumb{
    margin-top: 40px;
    margin-bottom: 72px;
}
.breadCrumb ol{
    padding: 0;
}

.breadCrumb ol li{
    list-style: none;
    font-family: ventimedium;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2px;
    color: #A09B87;
    padding: 0 18.5px;
    position: relative;

}

.breadCrumb ol li:before{
    content: url('../img/breadcramp.svg');
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.breadCrumb ol li:last-child:before{
    content: none;
}

.breadCrumb ol li a{
    color: #48403B;
}

.breadCrumb ol li a:hover{
    color: #f8f8f8;
}





/*******
	CONTACT SECTION STYLE
*********/



.contactTitle{
	font-family: ventimedium;
	font-size: 36px;
    line-height: normal;
    letter-spacing: 5px;
	position: relative;
}

.contactTitleTriangle{
	position: absolute;
	top: -96px;
	left: 16px;
	z-index: -1;
}

.contactTitlePatern{
	position: absolute;
	top: -20px;
	left: -190px;
	z-index: -2;
}

.location{
	width: 256px;
	font-family: ventimedium;
	line-height: 20px;
	letter-spacing: 1px;
}

.number{
	font-family: ventimedium;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 5px;
}

.contactFormTitle{
	font-family: ventimedium;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 5px;
	color: #DF172D;
}

.contactForm{
	width: 388px;
	position: relative;
}


.contactForm button{
	width: 100%;
	padding: 1rem;
	background: transparent;
	font-family: ventimedium;
	line-height: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #F9F9F9;
	border: 2px solid #DF172D;
	cursor: pointer;
	transition: 0.2s;
}

.contactForm button:hover{
	border-color: #e6e1ce;
}

.contactForm .md-form label{
	line-height: normal;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #f8f8f8;
	padding-left: 18px;
}

.contactForm .md-form label.active{
	font-size: 12px;
}

.contactForm .md-form input{
	border-bottom: 2px solid #48403B;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 3px;
	color: #f8f8f8;
}



.contactForm .md-form input[type=text]:focus:not([readonly])+label{
	color: #DF172D;
}
.contactForm .md-form input[type=text]:focus:not([readonly]){
-webkit-box-shadow: 0 1px 0 0 #DF172D;
	box-shadow: 0 1px 0 0 #DF172D;
	border-bottom: 1px solid #DF172D;
}

.map{
	position: relative;
}

.map img{
	width: 100%;
}

.mapPattern{
	position: absolute;
	top: -59px;
	left:-111px;
}

.contactFormPattern{
	position: absolute;
	top: 59px;
	left: -55px;
	z-index: -1;
}

.contactTitlePatern2{
	display: none;
	position: absolute;
	top: -20px;
	left: -20px;
	z-index: -1;
}

.contactTitlePatternX{
    position: absolute;
    top: -27px;
    left: -79px;
    z-index: -1;
}

.contactTitlePattern{
    position: absolute;
    top: -32px;
    left: -15px;
    z-index: -2;
}

.sectionPatternX{
    position: absolute;
    top: 153px;
    left: 900px;


}
/************************************
  ARTICLES STYLE
*************************************/

.articleContent{
	width: 85%;
	margin: 60px auto;
}

.articleItem{
	position: relative;
	margin-top: 10px;
}

.articleItemTitle{
	font-family: helvetic;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	color: #DF172D;
}

.articleItemText{
	width: 95%;
	font-family: helvetic;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
}

.articleItemFooter{
	margin-top: 34px;
}

.articleItemDate{
	font-family: ventimedium;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 5px;
	color: #DF172D;
	margin-bottom: 0;
	margin-right: 30px;
}

.articleItemButton{
	width: 358px;
	height: 55px;
	font-family: ventimedium;
	font-size: 16px;
	line-height: normal;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #E6E1CE;
	border: 3px solid #A09B87;
	box-sizing: border-box;
	transition: 0.2s;
}

.articleItemButton:hover{
	border-color: #DF172D;
	color: #DF172D
}

.articleItemPattern{
	position: absolute;
	top: 56px;
	left: -30px;
	z-index: -1;
}

/************************************
  ARTICLES VIEW STYLE
*************************************/

.articlesViewContent p{
	font-family: helvetic;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
}

.articleViewImgContent{
	position: relative;
	width: 360px;
	margin: 0 auto;
}

.articleViewImgPattern{
	position: absolute;
	top: 163px;
	left: 129px;
	z-index: -1;
}

.articleViewImgPattern2{
	display: none;
	position: absolute;
	top: -24px;
	left: 173px;
	z-index: -1;
}
