

/************************************
  MAP STYLING 
*************************************/

.ymaps-layers-pane {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

/************************************
*************************************/
.breadCrumb{
    margin-top: 40px;
    margin-bottom: 72px;
}
.breadCrumb ol{
    padding: 0;
}

.breadCrumb ol li{
    list-style: none;
    font-family: ventimedium, ventimediumIE;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2px;
    color: #A09B87;
    padding: 0 18.5px;
    position: relative;

}

.breadCrumb ol li:before{
    content: url('../img/breadcramp.svg');
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.breadCrumb ol li:last-child:before{
    content: none;
}

.breadCrumb ol li a{
    color: #48403B;
}

.breadCrumb ol li a:hover{
    color: #f8f8f8;
}



.swiper-container {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
}
.gallery-top {
	height: 100%;
	width: 100%;
}

.gallery-top img{
	width: 100%;
}
.gallery-thumbs {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.gallery-thumbs img{
	width: 100%;
}
.gallery-thumbs .swiper-slide {
	height: 100%;
	background: #48403B;
}
.gallery-thumbs .swiper-slide-thumb-active {
	background: #A09B87;
	border: 3px solid #DF172D;
}

.sliderBtn{
	position: absolute;
	top: 50%;
	width: 35px;
	height: 44px;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat;
}

.nextBtn{
	right: 10px;
	left: auto;
}

.prevBtn{
	left: 10px;
	right: auto;
}

.sliderBox{
	max-width: 780px;
	margin: 0 auto;
}

/*******
	CONTACT SECTION STYLE
*********/



.contactTitle{
	font-family: ventilight, ventilightIE;
	font-size: 36px;
	line-height: normal;
	letter-spacing: 5px;
	color: #f8f8f8;
	position: relative;
}

.contactTitleTriangle{
	position: absolute;
	top: -96px;
	left: 16px;
	z-index: -1;
}

.contactTitlePatern{
	position: absolute;
	top: -20px;
	left: -190px;
	z-index: -2;
}

.location{
	width: 256px;
	font-family: ventimedium, ventimediumIE;
	line-height: 20px;
	letter-spacing: 1px;
}

.number{
	font-family: ventimedium, ventimediumIE;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 5px;
	color: #E6E1CE;
}

.contactFormTitle{
	font-family: ventimedium, ventimediumIE;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 5px;
	color: #DF172D;
}

.contactForm{
	width: 388px;
	position: relative;
}


.contactForm button{
	width: 100%;
	padding: 1rem;
	background: transparent;
	font-family: ventimedium, ventimediumIE;
	line-height: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #F9F9F9;
	border: 2px solid #DF172D;
	cursor: pointer;
	transition: 0.2s;
}

.contactForm button:hover{
	border-color: #e6e1ce;
}

.contactForm .md-form label{
	line-height: normal;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #f8f8f8;
	padding-left: 18px;
}

.contactForm .md-form label.active{
	font-size: 12px;
}

.contactForm .md-form input{
	border-bottom: 2px solid #48403B;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 3px;
	color: #f8f8f8;
}



.contactForm .md-form input[type=text]:focus:not([readonly])+label{
	color: #DF172D;
}
.contactForm .md-form input[type=text]:focus:not([readonly]){
-webkit-box-shadow: 0 1px 0 0 #DF172D;
	box-shadow: 0 1px 0 0 #DF172D;
	border-bottom: 1px solid #DF172D;
}

.map{
	position: relative;
}

.map img{
	width: 100%;
}

.mapPattern{
	position: absolute;
	top: -59px;
	left:-111px;
}

.contactFormPattern{
	position: absolute;
	top: 59px;
	left: -55px;
	z-index: -1;
}

.contactTitlePatern2{
	display: none;
	position: absolute;
	top: -20px;
	left: -20px;
	z-index: -1;
}

.contactTitlePatternX{
    position: absolute;
    top: -27px;
    left: -79px;
    z-index: -1;
}

.contactTitlePattern{
    position: absolute;
    top: -32px;
    left: -15px;
    z-index: -2;
}

.sectionPatternX{
	position: absolute;
	top: 153px;
	left: 1150px;
}
/************************************
  ARTICLES STYLE
*************************************/

.articleContent{
	width: 85%;
	margin: 60px auto;
}

.articleItem{
	position: relative;
	margin-top: 10px;
}

.articleItemTitle{
	font-family: helvetic;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	color: #DF172D;
}

.articleItemText{
	width: 95%;
	font-family: helvetic;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
}

.articleItemFooter{
	margin-top: 34px;
}

.articleItemDate{
	font-family: ventimedium, ventimediumIE;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 5px;
	color: #DF172D;
	margin-bottom: 0;
	margin-right: 30px;
}

.articleItemButton{
	width: 358px;
	height: 55px;
	font-family: ventimedium, ventimediumIE;
	font-size: 16px;
	line-height: normal;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #E6E1CE;
	border: 3px solid #A09B87;
	box-sizing: border-box;
	transition: 0.2s;
}

.articleItemButton:hover{
	border-color: #DF172D;
	color: #DF172D
}

.articleItemPattern{
	position: absolute;
	top: 56px;
	left: -30px;
	z-index: -1;
}

/************************************
  ARTICLES VIEW STYLE
*************************************/

.articlesViewContent p{
	font-family: helvetic;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
	font-weight: 600;
}

.articleViewImgContent{
	position: relative;
	width: 360px;
	margin: 0 auto;
}

.articleViewImgPattern{
	position: absolute;
	top: 163px;
	left: 129px;
	z-index: -1;
}

.articleViewImgPattern2{
	display: none;
	position: absolute;
	top: -24px;
	left: 173px;
	z-index: -1;
}


/************************************
  WEAPON ABOUT STYLE
*************************************/


.weaponAboutContent{
	margin-top: 39px;
	font-family: helvetic;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
}

.weaponImg{
	width: 700px;
	position: absolute;
	top: 270px;
	right: -18px;
}

.weaponImg img{
	width: 100%;
}

.weaponImgBody{
	position: relative;
}


.weapon-form h2{
	color: #DF172D;
	font-family: ventimedium, ventimediumIE;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 5px;
	margin-top: 35px;
}


.weapon-form .md-form label{
	line-height: normal;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #f8f8f8;
	padding-left: 18px;
}

.weapon-form .md-form label.active{
  font-size: 12px;
}

.weapon-form .md-form input{
	border-bottom: 2px solid #48403B;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 3px;
	color: #f8f8f8;
}

.weapon-form .md-form input[type=text]:focus:not([readonly])+label{
  color: #DF172D;
}
.weapon-form .md-form input[type=text]:focus:not([readonly]){
-webkit-box-shadow: 0 1px 0 0 #DF172D;
box-shadow: 0 1px 0 0 #DF172D;
border-bottom: 1px solid #DF172D;
}




.weapon-form-modal .md-form label{
	line-height: normal;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #f8f8f8;
	padding-left: 18px;
}

.weapon-form-modal .md-form label.active{
	font-size: 12px;
}

.weapon-form-modal .md-form input{
	border-bottom: 2px solid #48403B;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 3px;
	color: #f8f8f8;
}

.weapon-form-modal .md-form input[type=text]:focus:not([readonly])+label{
	color: #DF172D;
}
.weapon-form-modal .md-form input[type=text]:focus:not([readonly]){
-webkit-box-shadow: 0 1px 0 0 #DF172D;
	box-shadow: 0 1px 0 0 #DF172D;
	border-bottom: 1px solid #DF172D;
}

.weaponAboutButton, .saleWeaponBtn2{
	width: 100%;
	padding: 1rem;
	background: transparent;
	font-family: ventimedium, ventimediumIE;
	line-height: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #F9F9F9;
	border: 2px solid #DF172D;
	cursor: pointer;
	transition: 0.2s;
}

.weaponAboutButton:hover, .saleWeaponBtn2:hover{
	border-color: #F9F9F9;
}

.weapon-form h5{
	margin-top: 10px;
	font-family: ventimedium, ventimediumIE;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 5px;
	color: #48403B;
}

.weaponAboutPattern{
	position: absolute;
    top: 0px;
    left: -90px;
}

/************************************
  WEAPON ABOUT STYLE
*************************************/

.product{
	margin-top: 51px;
}

.productTitle{
	font-family: ventilight, ventilightIE;
	font-size: 36px;
	line-height: normal;
	letter-spacing: 5px;
	color: #f8f8f8;
}

.productTitleRedLine{
	width: 1107px;
	height: 4px;
	background: linear-gradient(89.95deg, #DF172D 0.01%, rgba(223, 23, 45, 0) 100%);
}

.productitem{
	width: 258px;
	margin: 20px 17px;
	transition: 0.5s;
}

.productItemTitle{
	font-family: ventilight, ventilightIE;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 3px;
}

.circle{
	width: 174px;
	height: 174px;
	border-radius: 50%;
	margin: 0 48px 0 36px;
	background: #858171;
	position: relative;
	transition: 0.4s;
}

.productImg{
	position: absolute;
	right: -31px;
	left: -45px;
	top: 18px;
	bottom: 55px;
}

.circlePatern{
	position: absolute;
	right: -99.81px;
	left: 65px;
	top: -22px;
	bottom: 55px;
	opacity: 0.4;
}

.producTitemRequest{
	font-family: ventimedium, ventimediumIE;
	font-size: 16px;
	line-height: normal;
	letter-spacing: 2px;
	color: #DF172D;
}

.producTitemRequest:hover{
	color: #E6E1CE;
}

.productItemPrice{
	font-family: ventimedium, ventimediumIE;
	font-size: 30px;
	line-height: normal;
	letter-spacing: 3px;
	position: absolute;
	left: 59px;
	top: 127px;
	bottom: 17px;
}

.productItemPrice svg{
	margin-left: 8px;
}
.productitem:hover{
	transform: scale(1.07)
}
.productitem:hover .circle{
	background: #DF172D;
	cursor: pointer;
}

.productwhiteLine{
	width: 376px;
	height: 4px;
	background: linear-gradient(90deg, #A09B87 0%, rgba(160, 155, 135, 0) 100%);
	margin-top: 40px;
	margin-bottom: 10px;
}

.priceNumber{
	font-family: helvetic;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
	font-weight: bold;
	color: #E6E1CE;
}

.priceText{
	font-family: helvetic;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
	width:504px;
}

.seoTitle{
	font-family: helvetic;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 1px;
	color: #DF172D;
	margin-top: 20px;
	font-weight: bold;
}

.seoText{
	font-family: helvetic;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
	margin-top: 20px;
}

.productAddBtn{
	display: none;
	background: transparent;
    border: 3px solid #E6E1CE;
    box-sizing: border-box;
    padding: 15px;
    width: 344px;
    color: #E6E1CE;
    font-family: ventimedium, ventimediumIE;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px 0;
}


/************************************
  PRODUCT STYLE
*************************************/

.contactTitleBox{
	width: 616px;
}

.priceLine{
	height: 1px;
	background: #48403B;
	margin: 0 20px;
	flex-grow: 1;
}

.priceTitle{
	font-family: helvetic;
	font-size: 16px;
	line-height: normal;
	letter-spacing: 1px;
}

.price{
	font-family: ventimedium, ventimediumIE;
	font-size: 30px;
	line-height: normal;
	text-align: right;
	letter-spacing: 5px;
	color: #DF172D;
}

.price svg{
	fill: #DF172D;
}

.productAboutText{
	font-family: ventimedium, ventimediumIE;
	font-size: 20px;
	line-height: normal;
	text-align: right;
	letter-spacing: 5px;
}

.productBox{
	margin-top: 29px;
	height: 37px;
}

.button{
	display: block;
	width: 100%;
	padding: 1rem;
	background: transparent;
	font-family: ventimedium, ventimediumIE;
	line-height: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #F9F9F9;
	border: 2px solid #DF172D;
	cursor: pointer;
	transition: 0.2s;
	margin-top: 55px;
}

.button:hover{
	border-color: #E6E1CE;
}

.sliderLength{
	 padding: 24px 78px 25px 81px;
	 background: #A09B87;
}


.tabs{
	width: 100%;
	padding: 0;
	position: relative;
}

.tabs:before{
	content: '';
	width: 100%;
	height: 2px;
	background: #48403B;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}

.tabs-item{
	font-family: ventimedium, ventimediumIE ;
	font-size: 16px;
	line-height: normal;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	list-style: none;
	width: 308px;
	height: 53px;
	cursor: pointer;
	transition: 0.2s;
}

.tabs-item:hover{
	color: #DF172D;
}

.tabs-item:nth-child(2).active{
	border: 2px solid #48403B;
	border-left: 2px solid #181818;
	border-bottom: 2px solid #181818;
}

.tabs-item:last-child.active{
	border: 2px solid #48403B;
	border-bottom: 2px solid #181818;
}

.specifications{
	margin-top: 15px;
}

.specificationsTitle{
	font-family: helvetic;
	font-size: 16px;
	line-height: normal;
	letter-spacing: 1px;
	color: #E6E1CE;
}

.specificationsLine{
	margin: 0 20px;
	height: 2px;
	background: #48403B;
	flex-grow: 1;
}

.specificationsText{
	font-family: ventimedium, ventimediumIE;
	font-size: 20px;
	line-height: normal;
	text-align: right;
	letter-spacing: 3px;
	color: #DF172D;
}

.tabsBox{
	display: none;
}

.tabsBox.active{
	display: block;
}

.specificationText h4{
	font-family: helvetic;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	color: #f8f8f8;
}

.specificationText p{
	font-family: helvetic;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
}

.tabsPattern{
	position: absolute;
	top:-25px;
	left: -218px;
	z-index: -1;
}

.swiper-pagination-bullet{
	width: 15px;
	height: 15px;
}

.swiper-pagination-bullet-active{
	background: #DF172D;
}

.swiper-pagination{
	display: none;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0;
	top: 15px;
	left: -10px;
	text-align: right;
	width: 100%;
}

.sliderPattern{
	position: absolute;
	top: 93px;
	left: 59px;
	z-index: -1;
}

.pricePatternX{
	position: absolute;
	top: 325px;
	left: -180px;
}


.productItemTitle{
	font-family: ventilight, ventilightIE;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 3px;
	color: #E6E1CE;
}

.productItemPrice{
	font-family: ventimedium, ventimediumIE;
	font-size: 30px;
	line-height: normal;
	letter-spacing: 3px;
	position: absolute;
	left: 59px;
	top: 127px;
	bottom: 17px;
	color: #E6E1CE;
}







.sale-form-modal .input{
	font-family: ventimedium, ventimediumIE;
	line-height: normal;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.sale-form-modal h5{
	margin-top: 10px;
	font-family: ventimedium, ventimediumIE;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 5px;
	color: #48403B;
}

.sale-form-modal-content{
	width: 1054px;
	position: fixed;
	top: 45%;
	right: 50%;
	z-index: -1;
	transform: translate(50%, -50%);
	opacity: 0;
	transition: 0.4s;
}

.sale-form-modal-content.active{
	top: 50%;
	z-index: 60;
	opacity: 1;
}

.sale-form-modal-redPattern{
	position: absolute;
	z-index: -1;
	top: 134px;
	left: 214px;
}

.sale-form-modal-pattern{
	position: absolute;
	top: 182px;
	left: 40px;
	z-index: -1;
}


.sale-form-modal{
	width: 100%;
	padding: 70px 170px 70px 170px;
	background: #191919;
	position: relative;
	z-index: 2;
}


.sale-form-modal-RedLine{
	width: 100%;
	height: 4px;
	margin-top: 40px;
	margin-bottom: 20px;
	background: linear-gradient(89.97deg, #DF172D 0.01%, rgba(223, 23, 45, 0) 100%);
}

.sale-form-modal-close{
	position: absolute;
	top: 40px;
	right: 40px;
	cursor: pointer;
}

.sale-form-modal-title{
	position: absolute;
	top: 373px;
	left: 633px;
	width: 554px;
	font-family: ventimedium, ventimediumIE;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 5px;
	color: #DF172D;
	transform: rotate(90deg)
}




.sale-form-modal .md-form label{
	line-height: normal;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #f8f8f8;
	padding-left: 18px;
	}

	.sale-form-modal .md-form label.active{
		font-size: 12px;
	}

	.sale-form-modal .md-form input{
		border-bottom: 2px solid #48403B;
		font-size: 20px;
		line-height: normal;
		letter-spacing: 3px;
		color: #f8f8f8;
	}

	.sale-form-modal .md-form input[type=text]:focus:not([readonly])+label{
		color: #DF172D;
	}
	.sale-form-modal .md-form input[type=text]:focus:not([readonly]){
	-webkit-box-shadow: 0 1px 0 0 #DF172D;
		box-shadow: 0 1px 0 0 #DF172D;
		border-bottom: 1px solid #DF172D;
	}


	.saleWeaponBtn3{
		width: 100%;
		padding: 1rem;
		background: transparent;
		font-family: ventimedium, ventimediumIE;
		line-height: normal;
		font-size: 16px;
		text-align: center;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #F9F9F9;
		border: 2px solid #DF172D;
		cursor: pointer;
		transition: 0.2s;
	}
	





@media(min-width: 1378px){
	.slider_box_card_product_bottom{
		position: relative;
		max-width: 580px !important;
	}
	}
	@media(max-width: 1377px) and (min-width: 1200px){
	.slider_box_card_product_bottom{
		position: relative;
		max-width: 460px !important;
	}
	}
	@media(max-width: 1199px){
		.slider_box_card_product_bottom{
			position: relative;
			max-width: 580px !important;
		}
	}
	
	@media(min-width: 1200px){
		.rightBtnCard, .leftBtnCard{
			position: absolute !important;
			bottom: 30px !important;
			/*transform: translateY(-50%);*/
		}
		.rightBtnCard{
			right: 0 !important;
		}
	
		.leftBtnCard{
			left: 10px !important;
		}
	}
	
	
	@media(max-width: 1199px) and (min-width: 975px){
		.rightBtnCard, .leftBtnCard{
			position: absolute !important;
			bottom: 30px !important;
			width: 50px !important;
			outline: none !important;
			/*transform: translateY(-50%);*/
		}
		.rightBtnCard{
			/*right: 260px !important;*/
			right:14% !important;
		}
	
		.leftBtnCard{
			left: 14% !important;
		}
	}
	
	@media(max-width: 974px) and (min-width: 788px){
		.rightBtnCard, .leftBtnCard{
			position: absolute !important;
			bottom: 30px !important;
			width: 50px !important;
			outline: none !important;
			/*transform: translateY(-50%);*/
		}
		.rightBtnCard{
			/*right: 260px !important;*/
			right:5% !important;
		}
	
		.leftBtnCard{
			left: 5% !important;
		}
	}
	
	
	@media(max-width: 787px){
	.rightBtnCard, .leftBtnCard{
		display: none !important;
		/*transform: translateY(-50%);*/
	}
	}