@font-face{
	src: url(../fonts/VentiCF-Bold.ttf);
	font-family: ventibold;
}

@font-face{
	src: url(../fonts/VentiCF-Light.ttf);
	font-family: ventilight;
}

@font-face{
	src: url(../fonts/VentiCF-Medium.ttf);
	font-family: ventimedium;
}

/************************************

  MAP STYLING 

*************************************/

.ymaps-layers-pane {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}


/************************************

  SVG ANIMATION STYLING AND ANIMATION

*************************************/

.draw-arrow {  
	stroke-width: 1;
	stroke: #DF172D; 
	fill: none;
	stroke-dasharray: 400;
	stroke-dashoffset: 400; 
	animation-duration: 2.0s;
	animation-fill-mode: forwards;
}

.draw-arrow1{
	animation-delay: 0.5s;
}

.draw-arrow2{
	animation-delay: 0.5s;
}

.draw-arrow2.tal1{
	animation-delay: 1.2s;
}

.draw-arrow2.tal2{
	animation-delay: 1.4s;
}

.draw-arrow3{
	animation-delay: 1s;
}

.draw-arrow3.tal1{
	animation-delay: 1.7s;
}

.draw-arrow3.tal2{
	animation-delay: 1.9s;
}

.draw-arrow4{
	animation-delay: 1.9s;
}

.draw-arrow4.tal1{
	animation-delay: 2.1s;
}

.draw-arrow4.tal2{
	animation-delay: 2.3s;
}


.aboutSale.animate .draw-arrow{
	animation-name: draw;
}



@keyframes draw {
	to {
		 stroke-dashoffset: 0;
	 }
 }

/************************************

  SVG ANIMATION STYLING AND ANIMATION

*************************************/

body{
	background:#191919;
	color: #E6E1CE;
	font-weight: 500;
	font-family: ventimedium;
	overflow-x: hidden;
}

.hidden{
	max-width: 2000px;
	overflow: hidden;
	margin: 0 auto;
}

.big-container{
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;
}

header{
	margin-top: 30px;
	position: relative;
}

header .patern{
	position: absolute;
	width: 50%;
	height: 30px;

	top:10.78%;
	left: 0%;
	z-index: -1;
}

nav ul{
	padding: 0;
	margin: 0;
}

nav ul li{
	list-style: none;
	margin:0 35px;
	cursor: pointer;
	transition: 0.2s;
	line-height: normal;
}

nav ul li:hover{
	color: #DF172D;
}
.menuBtn{
	font-size: 28px;
	cursor: pointer;
	display: none;
	transition:0.2s;
}

.menuBtn:hover{
	color: #DF172D;
}

.redLine{
	display: none;
	width: 650px;
	height: 4px;
	margin-right: 40px;
	background: linear-gradient(89.97deg, rgba(223, 23, 45, 0)  ,#DF172D  );
}

.phone{
	display: none;
	cursor: pointer;
	font-size: 27px;
	transition: 0.2s;
}

.phone:hover{
	color: #DF172D;
}

/*SALE SECTION*/


.sale{
	position: relative;
	padding-bottom: 4rem;
	overflow: hidden;
}

.sale-title{
	width: 658px;
	margin: 5rem 0;
	position: relative;
}

.sale-title-patern{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}

.sale-title-x{
	display: none;
	position: absolute;
	right: 30px;
	top: -50px;
}

.sale-weapon h1{
	font-size: 40px;
	letter-spacing: 12px;
	text-transform: uppercase;
	line-height: normal;
	font-family: ventilight; 
	position: relative;
}

.sale-weapon h1:before{
	content:'';
	width: 40%;
	height: 4px;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: linear-gradient(89.97deg, #DF172D ,rgba(223, 23, 45, 0)  );
}

.sale-weapon .contact{
	margin-top: 20px;
	overflow: hidden;
}

.sale-weapon .contact p{
	margin: 0;
}

.sale-weapon .contact .email{
	color: #A09B87;
	font-size: 20px;
	letter-spacing: 5px;
	line-height: normal;
	font-family: ventimedium; 
}

.sale-weapon .contact .phoneNumber{
	color: #DF172D;
	font-family: Venti CF;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 3px;
	font-family: ventimedium; 
	margin-top: 5px;
}

.sale-body{
	width: 554px;
	position: relative;
}

.sale-body .paternx{
	position: absolute;
	top: -80px;
	right: -50px;
	z-index: -1;
}

.sale-body .sale-body-patern{
	position: absolute;
	top: -25%;
	left: -20px;
	z-index: -1;
}

.sale-form h2{
	color: #DF172D;
	font-family: ventimedium;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 5px;
}


  .sale-form .md-form label{
	line-height: normal;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #f8f8f8;
	padding-left: 18px;
  }

  .sale-form .md-form label.active{
	  font-size: 12px;
  }

  .sale-form .md-form input{
    border-bottom: 2px solid #48403B;
  }

  .sale-form .md-form input[type=text]:focus:not([readonly])+label{
	  color: #DF172D;
  }
  .sale-form .md-form input[type=text]:focus:not([readonly]){
	-webkit-box-shadow: 0 1px 0 0 #DF172D;
    box-shadow: 0 1px 0 0 #DF172D;
    border-bottom: 1px solid #DF172D;
  }

  .paralax-container{
	  position: relative;
	}
	
	.sale .paralax1 svg,
	.sale .paralax2 svg,
	.sale .paralax3 svg,
	.sale .paralax4 svg,
	.sale .paralax5 svg,
	.sale .paralax7 svg,
	.sale .paralax8 svg,
	.sale .paralax9 svg{
		width: 100%;
	}

  .sale .paralax{
	  position: absolute;
	  top: -100px;
	  right: 0;
	  z-index: -1;
	}

	.sale .paralax1{
		position: absolute;
    right: 41%;
		top: 22%;
		width: 7%;
    z-index: -3;
	}

	.sale .paralax2{
		position: absolute;
		right: 35%;
    top: 45%;
    width: 10%;
    z-index: -3;
	}

	.sale .paralax3{
		position: absolute;
		right: -20%;
    top: 25%;
    z-index: -3;
	}

	.sale .paralax4{
		position: absolute;
		right: 10%;
    top: 10%;
    width: 15%;
    z-index: -3;
	}
	
	.sale .paralax5{
		position: absolute;
		right: 22%;
		top: 55%;
		z-index: 2;
		width: 5%;
	}

	.sale .paralax6{
		position: absolute;
		bottom: 30%;
    right: -40%;
	}

	.sale .paralax7{
		z-index: -4;
    position: absolute;
		bottom: 20%;
		right: -15%;
		width: 50%
	}

	.sale .paralax8{
		z-index: -4;
    position: absolute;
		right: -5%;
    top: 20%;
    z-index: 2;
	}

	.sale .paralax9{
		position: absolute;
		right: 30%;
		top: 20%;
		width: 18%;
    z-index: -4;
	}

  .sale .paralax img.paralaxfon2{
		z-index: 2;
    position: absolute;
    right: -250px;
    top: 0;
    width: 100%;
  }

  .sale .paralax img.paralax{
	position: absolute;
	right: 0;
	top: 0;
  }

  .sale .paralax img.paralax1{
	right: 50%;
	top: 20%;
	z-index: -3;
	width: 15%;
  }


.sale .paralax img.paralax3{
	right: 5%;
    top: 20%;
    width: 8%;
    z-index: -3;
}

.sale .paralax img.paralax4{
	right: 30%;
    top: 15%;
    width: 8%;
    z-index: -3;
}

.sale .paralax img.paralax5{
	right: 35%;
	top: 55%;
	width: 4%;
	z-index: 2;
}

.sale-form button{
	width: 100%;
	padding: 1rem;
	background: transparent;
	font-family: ventimedium;
	line-height: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #F9F9F9;
	border: 2px solid #DF172D;
	cursor: pointer;
	transition: 0.2s;
}

.sale-form button:hover{
	border-color: #e6e1ce;
}

.sale-form .input{
	font-family: ventimedium;
	line-height: normal;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.sale-form h5{
	margin-top: 10px;
	font-family: ventimedium;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 5px;
	color: #48403B;
}

/*aboutSale section style*/

.aboutSale .big-container{
	padding: 100px 1rem;
}

.aboutSaleTitle{
	position: relative;
	font-family: ventimedium;
	line-height: normal;
	font-size: 40px;
	letter-spacing: 12px;
	text-transform: uppercase;
}

.aboutsaletitleX{
	position: absolute;
	top: -100px;
	left: -90px;
	z-index: -1;
}

.aboutsaletitlepatern{
	position: absolute;
	top: -20px;
	left: 350px;
	z-index: -1;
}

.aboutSaleTitleSvg{
	position: absolute;
	top: 25px;
	left: 630px;
	z-index: -1;
}

.aboutsSaleAnimation{
	padding: 100px 0;
}

.aboutsSaleAnimationItem{
	max-width: 300px;
	margin: 0 auto;
	position: relative;
}

.animateImg{
	transform: scale(0);
}

.animateText{
	opacity: 0;
}

.animation{
	padding: 100px 0;
}

.animation.animate .aboutsSaleAnimationItem1 .animateImg{
	transform: scale(1);
	transition: 1s;
}

.animation.animate .aboutsSaleAnimationItem1 .animateText{
	opacity: 1;
	transition: 1s;
}

.animation.animate .aboutsSaleAnimationItem2 .animateImg{
	transform: scale(1);
	transition: 1s;
	transition-delay: 1s;
}

.animation.animate .aboutsSaleAnimationItem2 .animateText{
	opacity: 1;
	transition: 1s;
	transition-delay: 1s;
}

.animation.animate .aboutsSaleAnimationItem3 .animateImg{
	transform: scale(1);
	transition: 1s;
	transition-delay: 1.8s;
}

.animation.animate .aboutsSaleAnimationItem3 .animateText{
	opacity: 1;
	transition: 1s;
	transition-delay: 1.8s;
}

.animation.animate .aboutsSaleAnimationItem4 .animateImg{
	transform: scale(1);
	transition: 1s;
	transition-delay: 2.6s;
}

.animation.animate .aboutsSaleAnimationItem4 .animateText{
	opacity: 1;
	transition: 1s;
	transition-delay: 2.6s;
}

.aboutsSaleAnimationItem1 .aboutsSaleAnimationItemText{
	width: 300px;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 5px;
	position: absolute;
	top: 0;
	right: -150px;
}

.aboutsSaleAnimationItem1 .aboutsSaleAnimationItemPaternImg{
	position: absolute;
	bottom: 20px;
	right: 130px;
	z-index: -1;
}

.aboutsSaleAnimationItem1 .aboutsSaleAnimationItemNumber{
	position: absolute;
	bottom: 20px;
	right: 190px;
}

.aboutsSaleAnimationItem1 .aboutsSaleAnimationItemSvg{
	position: absolute;
	top: 140px;
	right: -180px;
	width: 200px;
}




.aboutsSaleAnimationItem2Img{
	padding-top: 130px;
}

.aboutsSaleAnimationItem2 .aboutsSaleAnimationItemText{
	width: 300px;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 5px;
	position: absolute;
	bottom: -150px;
	right: 150px;
}

.aboutsSaleAnimationItem2 .aboutsSaleAnimationItemNumber{
	position: absolute;
	top: 100px;
	right: 0px;
}

.aboutsSaleAnimationItem2 .aboutsSaleAnimationItemPaternImg{
	position: absolute;
	bottom: 130px;
	right: 0px;
	z-index: -1;
} 

.aboutsSaleAnimationItem2 .aboutsSaleAnimationItemSvg{
	position: absolute;
	bottom: -80px;
	right: -180px;
	width: 250px;
}


.aboutsSaleAnimationItem3{
	margin-top: 115px;
}

.aboutsSaleAnimationItem3 .shopImg{
	position: absolute;
	top: 40px;
	right: 15px;
	z-index: -1;
}

.aboutsSaleAnimationItem3 .aboutsSaleAnimationItemText{
	width: 300px;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 5px;
	position: absolute;
	top: -40px;
	right: -100px;
}

.aboutsSaleAnimationItem3 .aboutsSaleAnimationItemPaternImg{
	position: absolute;
	bottom: -20px;
	right: -25px;
	z-index: -1;
} 

.aboutsSaleAnimationItem3 .aboutsSaleAnimationItemNumber{
	position: absolute;
	top: 220px;
	right: 0px;
}

.aboutsSaleAnimationItem3 .aboutsSaleAnimationItemSvg{
	position: absolute;
	top: 40px;
	right: -160px;
	width: 170px;
}

.aboutsSaleAnimationItem4{
	margin-top: 180px;
}

.aboutsSaleAnimationItem4 .dollarImg{
	width: 250px;
}

.aboutsSaleAnimationItem4 .manImg{
	width: 120px;
	position: absolute;
	top: 40px;
	left: 70px;
}

.aboutsSaleAnimationItem4 .aboutsSaleAnimationItemText{
	width: 350px;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 5px;
	position: absolute;
	bottom: -200px;
	right: 0px;
}

.aboutsSaleAnimationItem4 .aboutsSaleAnimationItemPaternImg{
	position: absolute;
	top: -60px;
	right: -25px;
	z-index: -1;
} 

.aboutsSaleAnimationItem4 .aboutsSaleAnimationItemNumber{
	position: absolute;
	top: -40px;
	right: 0px;
}

.aboutsSaleAnimationItem4 .aboutsSaleAnimationItemSvg{
	position: absolute;
	top: 40px;
	right: -160px;
	width: 170px;
}

.aboutsSaleAnimationItem1 .aboutsSaleAnimationItemPatternX{
	position: absolute;
	top: 90px;
	left: 135px;
	z-index: -1;
}

.aboutsSaleAnimationItem2 .aboutsSaleAnimationItemPatternX{
	position: absolute;
	top: 400px;
	left: -90px;
	z-index: -1;
}

.aboutsSaleAnimationItem3 .aboutsSaleAnimationItemPatternX{
	position: absolute;
	top: -140px;
	left: 120px;
	z-index: -1;
}

.aboutsSaleAnimationItem4 .aboutsSaleAnimationItemPatternX{
	position: absolute;
	top: 230px;
	left:-158px;
}

/**************************/

.howSaletitle{
	position: relative;
}

.howSale .big-container{
	padding: 80px 40px;
}

.howSaletitle .triangle{
	position: absolute;
	top: -90px;
	left: -95px;
	z-index: -1;
}

.howSale h2{
	font-family: ventimedium;
	line-height: normal;
	font-size: 40px;
	letter-spacing: 12px;
	text-transform: uppercase;
	color: #E6E1CE;
}

.howSale h4{
	line-height: normal;
	font-size: 20px;
	letter-spacing: 1px;
	color: #DF172D;
}

.howSale p{
	font-family: ventimedium;
	line-height: 20px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #E6E1CE;
}

.howsalepatern{
	position: absolute;
	top: -25px;
	left: -90px;
	z-index: -2;
}

.howsalepatern4{
	position: absolute;
	top: 20px;
	left: 30px;
	z-index: -2;
	display: none;
}



.howsalebodyPatern{
	position: absolute;
	top: -30px;
  right: -40px;
}

.howSaleBody{
	
}

.howSaleBody:before{
	content: '';
	width: 4px;
	height: 100%;
	position: absolute;
	left: -10px;
  top: -40px;
	background: linear-gradient(to bottom, #DF172D 0.01%, rgba(223, 23, 45, 0) 100%);
}


/***********
	ADVANTAGES STYLES
**************/

.advantages{
	padding: 50px 0;
}

.advantages-content{
	position: relative;
}

.advantagesTitel{
	font-family: ventilight;
	font-size: 40px;
	line-height: normal;
	letter-spacing: 12px;
	text-transform: uppercase;
}

.advantages-content{
	width: 70%;
}

.advantagesBodyItem{
	width: 281px;
	height: 100px;
	margin: 15px 0;
}

.advantagesBodyItemText{
	width: 191px;
	font-family: ventimedium;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 2px;
	margin-left: 22px;
	margin-bottom: 0;
}

.advantages-weapon{
	position: absolute;
	top: -56px;
	left: -670px;
	z-index: -1;
}

.weaponTitlePatern{
	display: none;
}

/***************
PRODUCT STYLE
*************/

.productBody{
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
}

.productBodyPattern{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -100px;
	z-index: -1;
}

.productTitle{
	width: 700px;
	font-family: ventilight;
	font-size: 40px;
	line-height: normal;
	text-align: right;
	letter-spacing: 12px;
	text-transform: uppercase;
	position: relative;
}

.productTitle:before{
	content: '';
	position: absolute;
	bottom: -16px;
	right: 0;
	width: 100%;
	height: 4px;
	background: linear-gradient(90deg,  rgba(160, 155, 135, 0) ,#A09B87);
}

.productTitlePatern{
	position: absolute;
	top: -150px;
	left: 450px;
	z-index: -2;
}

.productTitleX{
	position: absolute;
	top: -80px;
	left: 590px;
	z-index: -1;
}

.productitem{
	width: 258px;
	margin: 21.5px 28.5px;
}

.productItemTitle{
	font-family: ventilight;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 3px;
}

.circle{
	width: 174px;
	height: 174px;
	border-radius: 50%;
	margin: 0 48px 0 36px;
	background: #858171;
	position: relative;
	transition: 0.4s;
}

.productImg{
	position: absolute;
	right: -31px;
	left: -45px;
	top: 18px;
	bottom: 55px;
}

.circlePatern{
	position: absolute;
	right: -99.81px;
	left: 65px;
	top: -22px;
	bottom: 55px;
	opacity: 0.4;
}

.producTitemRequest{
	font-family: ventimedium;
	font-size: 16px;
	line-height: normal;
	letter-spacing: 2px;
	color: #DF172D;
}

.producTitemRequest:hover{
	color: #E6E1CE;
}

.productItemPrice{
	font-family: ventimedium;
	font-size: 30px;
	line-height: normal;
	letter-spacing: 3px;
	position: absolute;
	left: 59px;
	top: 127px;
	bottom: 17px;
}

.productItemPrice svg{
	margin-left: 8px;
}

.productitem:hover .circle{
	background: #DF172D;
	cursor: pointer;
}

.productBodyPatternX{
	position: absolute;
	top:455px;
	left: 800px;
	z-index: -1;
}

.productTitleTextPatern{
	display: none;
}

.productFooter{
	width: 646px;
	margin-left: 70px;
	margin-top: 2rem;
	position: relative;
}

.productFooter:before{
	content: '';
	position: absolute;
	top: -20px;
	left: 0;
	width: 50%;
	height: 4px;
	background: linear-gradient(90deg, #A09B87,rgba(160, 155, 135, 0));
}

.productFooter h5{
	font-family: ventimedium;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
	color: #E6E1CE;
}

.productFooter p{
	width: 504px;
	font-family: ventimedium;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
}

.productFooter button{
	display: none;
	background: transparent;
	border: 3px solid #E6E1CE;
	box-sizing: border-box;
	padding: 15px;
	width: 344px;
	color: #E6E1CE;
	font-family: ventimedium;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.2s;
	margin: 20px 0;
}

.productFooter button:hover{
	border-color: #DF172D;
}

.productFooter button span{
	margin-left: 15px;
}


/************
	REWIEV STYLES
****************/

.rewiev{
	padding-top: 70px;
}

.rewievTitle{
	font-family: ventimedium;
	font-size: 40px;
	line-height: normal;
	letter-spacing: 12px;
	text-transform: uppercase;
	color: #E6E1CE;
	position: relative;
}

.rewievTitlePattern{
	position: absolute;
	top: -42px;
	left: -272px;
	z-index: -2;
}

.rewievItem{
	width: 487px;
	margin-top: 70px;
	position: relative;
	margin-right: 20px;
}

.rewievItem:last-child{
	margin-right: 0;
}

.rewievItemImg{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}

.rewievItemTitle{
	margin: 0;
	font-family: ventimedium;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 1px;
	color: #DF172D;
	margin-left: 29px;
}

.rewievItemBody{
	margin-left: 99px;
	font-family: ventimedium;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
}

.rewievItemPattern{
	position: absolute;
	left: 140px;
	top: -20px;
	z-index: -1;
}

.rewievItemPattern2{
	display: none;
	position: absolute;
	left: 140px;
	top: 90px;
	z-index: -1;
}

/***********
SEO SECTION STYLE
***********/
.seoContent{
	width: 880px;
	margin-top: 129px;
	margin-bottom: 122px;
	margin-left: 160px;
	position: relative;

}
.seoContentTitle{
	font-family: ventibold;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	color: #DF172D
}

.seoContentBody{
	font-family: ventimedium;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #A09B87;
}

.rectangle{
	position: absolute;
	top: -315px;
	left: -550px;
	z-index: -1;
}

.rectanglePatern{
	position: absolute;
	top: 43px;
	left: -41px;
	z-index: -1;;
}

.rectanglePaternX{
	position: absolute;
	top: -145px;
	left: 722px;
}

/*******
	CONTACT SECTION STYLE
*********/



.contactTitle{
	font-family: ventimedium;
	font-size: 40px;
	line-height: normal;
	letter-spacing: 12px;
	text-transform: uppercase;
	position: relative;
}

.contactTitleTriangle{
	position: absolute;
	top: -96px;
	left: 16px;
	z-index: -1;
}

.contactTitlePatern{
	position: absolute;
	top: -20px;
	left: -190px;
	z-index: -2;
}

.location{
	width: 256px;
	font-family: ventimedium;
	line-height: 20px;
	letter-spacing: 1px;
}

.number{
	font-family: ventimedium;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 5px;
}

.contactFormTitle{
	font-family: ventimedium;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 5px;
	color: #DF172D;
}

.contactForm{
	width: 388px;
	position: relative;
}


.contactForm button{
	width: 100%;
	padding: 1rem;
	background: transparent;
	font-family: ventimedium;
	line-height: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #F9F9F9;
	border: 2px solid #e6e1ce;
	cursor: pointer;
	transition: 0.2s;
}

.contactForm button:hover{
	border-color: #DF172D;
}

.contactForm .md-form label{
	line-height: normal;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #f8f8f8;
	padding-left: 18px;
}

.contactForm .md-form label.active{
	font-size: 12px;
}

.contactForm .md-form input{
	border-bottom: 2px solid #48403B;
}

.contactForm .md-form input[type=text]:focus:not([readonly])+label{
	color: #DF172D;
}
.contactForm .md-form input[type=text]:focus:not([readonly]){
-webkit-box-shadow: 0 1px 0 0 #DF172D;
	box-shadow: 0 1px 0 0 #DF172D;
	border-bottom: 1px solid #DF172D;
}

.map{
	position: relative;
}

.map img{
	width: 100%;
}

.mapPattern{
	position: absolute;
	top: -59px;
	left:-111px;
}

.contactFormPattern{
	position: absolute;
	top: 59px;
	left: -55px;
	z-index: -1;
}

.contactTitlePatern2{
	display: none;
	position: absolute;
	top: -20px;
	left: -20px;
	z-index: -1;
}

/**********
FOOTER STYLING
***********/

.footer{
	margin-top: 148px;
	padding-top: 93px;
	position: relative;
}

.footerMenuItem{
	padding: 0;
	margin: 0;
}

.footerMenuItem li{
	list-style: none;
	font-family: ventimedium;
	font-size: 16px;
	line-height: normal;
	letter-spacing: 2px;
	padding: 0.5rem 0;
}

.footerMenuItem div:nth-child(1){
	margin-bottom: 10px;
}

.footerweapon{
	position: absolute;
	top:-520px;
	left: -400px;
	z-index: -1;
}

.copriting{
	font-family: ventimedium;
	font-size: 16px;
	line-height: normal;
	text-align: right;
	letter-spacing: 2px;
	padding: 28px 0;
	color: rgba(223, 23, 45, 0.8);
}

.copriting p{
	margin: 0;
}

.footerLineEffect1{
	width: 30%;
	height: 2px;
	margin-right: 10px;
	background: linear-gradient(89.97deg,rgba(223, 23, 45, 0) ,#DF172D );
}

.footerLineEffect2{
	width: 30%;
	height: 2px;
	margin-left: 10px;
	background: linear-gradient(89.97deg, #DF172D, rgba(223, 23, 45, 0));
}

.logoNumber{
	display: none;
	font-family: ventimedium;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 3px;
	color: #DF172D;
	margin-left: 21px;
	margin-top: 10px;
}

.footer .logo{
	position: relative;
}

.footerlogoPattern{
	position: absolute;
	top: -25px;
	left: -92px;
	z-index: -1;
}

.footer .logo img{
	width: 100%;
}

.footer .footerPatternX{
	position: absolute;
	top: -20px;
	left: 0;
}

.footerlogoPattern2{
	position: absolute;
	top: 154px;
	left: 76px;
	display: none;
}

.footerlogoPattern3{
	display: none;
	position: absolute;
	top: 154px;
	left: 76px;
	z-index: -1;
}







/****************************************
*******  PATTERN ANIMATION
****************************************/
.sale-body-patern svg{
	height: 0px;
	overflow: hidden;
}

.sale.animate .sale-body-patern svg {
	height: 452px;
	transition: 1s;
}

.paralax1 svg rect{
	width: 0px;
}

.sale.animate .paralax1 svg rect{
	width: 96px;
	transition: 1s;
	transition-delay: 0.5s;
}

.paralax3 svg rect{
	width: 0px;
}

.sale.animate .paralax3 svg rect{
	width: 386px;
	transition: 1s;
	transition-delay: 1s;
}

.paralax7 svg rect{
	width: 0px;
}

.sale.animate .paralax7 svg rect{
	width: 612px;
	transition: 1s;
	transition-delay: 1s;
}