
@media(max-width:1400px){
    nav ul li{
        margin: 0 23px;
    }
}

@media(max-width: 1200px){
    nav{
        display: none;
    }
    .menuBtn{
        display: flex;
    }
    .redLine{
        display: block;
    }

    .aboutsSaleAnimationItemSvg{
        display: none;
    }

    .animation{
        padding: 0;
    }


    .aboutsSaleAnimationItem1 .aboutsSaleAnimationItemText,
    .aboutsSaleAnimationItem2 .aboutsSaleAnimationItemText,
    .aboutsSaleAnimationItem3 .aboutsSaleAnimationItemText,
    .aboutsSaleAnimationItem4 .aboutsSaleAnimationItemText{
        position: initial;
        right: 0;
        bottom: 0;
        margin-top: 0.5rem;
    }
    .aboutsSaleAnimationItem4 .aboutsSaleAnimationItemText{
        margin-top: 120px;
    }

    .aboutsSaleAnimationItem1 .aboutsSaleAnimationItemNumber{
        position: absolute;
        bottom: 110px;
        left: 0px;
    }

    .aboutsSaleAnimationItem3 .aboutsSaleAnimationItemNumber{
        top: 210px;
    }
    
    .aboutsSaleAnimationItem2Img{
        padding-top: 200px;
    }

    .aboutsSaleAnimationItem2 .aboutsSaleAnimationItemNumber{
        position: absolute;
        top: 465px;
    }

    .aboutsaletitleX{
        display: none;
    }

    .aboutsaletitlepatern{
        top: 20px;
        left: -140px;
        width: 400px;
        height: 140px;
    }

    .aboutSaleTitle{
        position: absolute;
        top: 75px;
        right: 0;
        width: 400px;
        text-align: right;
    }

    .aboutSale .big-container{
        padding: 0;
    }

    .aboutsSaleAnimationItem3{
        margin-top: 0;
    }

    .aboutsSaleAnimationItemNumber,
    .aboutsSaleAnimationItemText {
        transition: 0s !important;
    }

    .aboutsSaleAnimationItemPaternImg{
        display: none;
    }
    .advantages-content{
        width: 60%;
    }

    .advantagesTitel{
        font-size: 30px;
    }

    .contactForm{
        width: 100%;
    }
    
}

@media(max-width: 992px){
    .redLine{
        width: 500px;
    }
    .sale .paralax{
        width: 520px;
        top: 0px;
        right: 0px;
    }

    .sale .paralax3{
        display: none;
    }

    .sale .paralax7{
        display: none;
    }
    .sale .paralax img.paralaxfon2{
        right: 0;
    }

    .sale .paralax2{
        right: 50%;
        top: 30%;
        width: 15%;
    }

    .sale .paralax8{
        right: 7%;
        top: 11%;
        width: 7%;
    }
    .sale .paralax6{
        display: none;
    }

    .sale-title{
        width: 49.5%;
    }

    .sale-title h1{
        font-size: 28px;
        font-family: ventibold
    }

    .sale-title h1:before{
        content: none;
    }

    .sale-weapon .contact{
        text-align: right;
    }

    .sale-weapon .contact .phoneNumber{
        color: #E6E1CE;
    }

    .sale-title-patern{
        display: block;
    }

    .sale-body{
        margin: 0 auto;
        width: 80%;
    }

    .triangle{
        display: none;
    }

    .howsalepatern{
        display: none;
    }
    .howsalebodyPatern{
        display: none;
    }
    .howsalepatern4{
        display: block;
    }

    .howSale h2{
        line-height: normal;
        font-size: 28px;
        letter-spacing: 5px;
        width: 150px;
    }

    .howSale h4{
        margin-top: 60px;
    }

    .howSaletitle:before{
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        right: 0;
        top: 125px;
        background: linear-gradient(to left, #DF172D 0.01%, rgba(223, 23, 45, 0) 100%);
    }
    .advantages-content{
        width: 100%;
    }
    .advantages-weapon{
        display: none;
    }
    .advantagesTitel{
        font-size: 40px;
        position: relative;
    }
    .weaponTitlePatern{
        display: block;
        position: absolute;
        top: 50%;
        left: -30px;
        transform: translateY(-50%);
        z-index: -1;

    }

    .advantages{
        padding: 0;
    }

    .productTitle{
        width: 100%;
        font-size: 28px;
        line-height: normal;
        text-align: right;
        letter-spacing: 5px;
    }

    .productTitleX, .productTitlePatern{
        display: none;
    }

    .productTitleText{
        width: 315px;
        position: relative;
    }

    .productTitleTextPatern{
        display: block;
        position: absolute;
        left: -109px;
        top: -14px;
        z-index: -1;
    }

    .productFooter{
        width: 100%;
        margin-left: 0;
    }

    .productFooter:before{
        width: 100%;
    }

    .productBodyPatternX, .productBodyPattern{
        display: none;
    }

    .productFooter button{
        display: flex;
    }

    .rewievItem{
        width: 100%;
    }
    .rewievItemPattern{
        display: none;
    }
    .rewievItemPattern2{
        display: block;
    }
    .seoContent{
        width: 80%;
        margin: 52px 0;
    }
    .rectangle, .rectanglePatern{
        display: none;
    }
    .rectanglePaternX{
        left:141px;
        top: 0;
    }

}

@media(max-width: 768px){
    .redLine{
        display: none;
    }

    .phone{
        display: block
    }

    .sale .paralax {
        width: 400px;
        top: 0px;
        right: 0px;
    }

    .aboutSaleTitle{
        position: initial;
        width: 100%;
    }

    .aboutSaleTitleSvg{
        top: 70px;
        left: 200px;
    }

    .aboutsSaleAnimationItem2Img{
        padding:0;
    }

    .aboutsSaleAnimationItem2 .aboutsSaleAnimationItemNumber{
        top: 270px;
    }

    .aboutsSaleAnimationItem4{
        margin-top: 40px;
    }

    .productFooter h5,
    .productFooter p{
        width: 100%;
    }


}

@media(max-width: 576px){
    .redLine{
        display: none;
    }

    .sale .paralax {
        display: none;
    }

    .sale .sale-title{
        width: 100%;
    }

    .sale .sale-title-x{
        display: block;
    }

    .paternx,
    .sale-body-patern{
        display: none;
    }

    .aboutSaleTitleSvg {
        display:block;
        left: 200px;
    }

    .advantagesTitel{
        font-size: 6vmin;
    }

    .productFooter button{
       width: 100%;
    }

    .seoContent{
        width: 90%;
    }
    .rectanglePaternX{
        left: -100px;
    }
    

}

@media(max-width: 400px){
    .sale-title h1{
        font-size: 6.5vmin;
    }

    .sale-weapon .contact .email{
        font-size: 5vmin;
    }

    .sale-form h2{
        font-size: 5vmin;
    }

    .sale-weapon .contact .phoneNumber{
        font-size: 4vmin;
    }

    .aboutSaleTitle h2{
        font-size: 7vmin;
    }
}