
@media(max-width:1400px){
    nav ul li{
        margin: 0 23px;
    }
    .footerItems li{
        margin-right: 0px;
    }
    .footerMenuItem li{
        font-size: 1.6vmin;
    }
    .howSaleBody{
        margin-left: 50px;
        position: relative;
    }
    .howSaleBody:before{
        left: -25px;
    }
   
    
}

@media(max-width: 1200px){
    .arrow{
        display: block;
    }
    nav{
        display: none;
    }
    .menuBtn{
        display: flex;
    }
    .redLine{
        display: block;
    }

    .aboutsSaleAnimationItemSvg{
        display: none;
    }

    .animation{
        padding: 0;
    }


    .aboutsSaleAnimationItem1 .aboutsSaleAnimationItemText,
    .aboutsSaleAnimationItem2 .aboutsSaleAnimationItemText,
    .aboutsSaleAnimationItem3 .aboutsSaleAnimationItemText,
    .aboutsSaleAnimationItem4 .aboutsSaleAnimationItemText{
        position: static;
        right: 0;
        bottom: 0;
        margin-top: 0.5rem;
        width: 100%;
    }
    .aboutsSaleAnimationItem4 .aboutsSaleAnimationItemText{
        margin-top: 120px;
    }

    .aboutsSaleAnimationItem1 .aboutsSaleAnimationItemNumber{
        position: absolute;
        bottom: 110px;
        left: 0px;
    }

    .aboutsSaleAnimationItem3 .aboutsSaleAnimationItemNumber{
        top: 210px;
    }
    
    .aboutsSaleAnimationItem2Img{
        padding-top: 200px;
    }

    .aboutsSaleAnimationItem2 .aboutsSaleAnimationItemNumber{
        position: absolute;
        top: 465px;
    }

    .aboutsaletitleX{
        display: none;
    }

    .aboutsaletitlepatern{
        top: 20px;
        left: -140px;
        width: 400px;
        height: 140px;
    }

    .aboutSaleTitle{
        position: absolute;
        top: 75px;
        right: 0;
        width: 400px;
        text-align: right;
    }

    .aboutSale .big-container{
        padding: 0;
    }

    .aboutsSaleAnimationItem3{
        margin-top: 0;
    }

    .aboutsSaleAnimationItemNumber,
    .aboutsSaleAnimationItemText {
        transition: 0s !important;
    }

    .aboutsSaleAnimationItemPaternImg{
        display: none;
    }
    .advantages-content{
        width: 60%;
    }

    .advantagesTitel{
        font-size: 30px;
    }

    .contactForm{
        width: 100%;
    }

    .howSaleBody{
        margin-left: 120px;
        margin-top: 100px;
        position: relative;
    }

    header .patern{
        top:26px;
        left: -258px;
    }

    header{
        padding-top: 0;
    }

    .sale .paralax10{
        position: absolute;
        right: 3%;
        top: 38%;
        width: 4%;
        z-index: 3;
    }

    .nowrapText{
        white-space: normal;
    }

    .subHeaderNumber{
        display: block;
    }

    .headerNumberPattern{
        display: none;
    }

    .sale-form-modal-content.active,
    .sale-form-modal-content
    {
        top: 0;
        right: 0;
        transform: translate(0);
        width:689px;
    }

    .sale-form-modal{
        padding: 75px 30px 26px 58px;
    }

    .sale-form-modal-close{
        top:30px;
        right: 30px;
    }

    .sale-form-modal-redPattern{
        top: 125px;
        left: -49px;
    }

    .sale-form-modal-title{
        position: static;
        transform: rotate(0deg);
        width:100%;
    }

    .weaponAboutPattern{
        display: none;
    }

    .weaponImg {
        left: 770px;
    }

    .productTitleRedLine{
        width: 100%;
    }

    .productitem{
        width: 234px;
        margin: 15px 21px;
    }

    .productitem:nth-child(9),
    .productitem:nth-child(10){
        display: none;
    }
    
}


@media(max-width: 992px){
    .sale .paralax10{
        position: absolute;
        right: 24%;
        top: 26%;
        width: 4%;
        z-index: 3;
    }
    header{
        padding-top: 6px;
    }
    .redLine{
        width: 500px;
    }
    .sale .paralax{
        width: 650px;
        top: -120px;
        right: -100px;
    }

    .sale .paralax3{
        display: none;
    }

    .sale .paralax7{
        display: none;
    }
    .sale .paralax img.paralaxfon2{
        right: 0;
    }

    .sale .paralax2{
        right: 50%;
        top: 30%;
        width: 15%;
    }

    .sale .paralax8{
        right: 7%;
        top: 11%;
        width: 7%;
    }
    .sale .paralax6{
        display: none;
    }

    .sale-title{
        width: 49.5%;
    }

    .sale-title h1{
        font-size: 28px;
        font-family: ventimedium;
    }

    .sale-title h1:before{
        content: none;
    }

    .sale-weapon .contact{
        text-align: right;
    }

    .sale-weapon .contact .phoneNumber{
        color: #E6E1CE;
    }

    .sale-title-patern{
        display: block;
    }

    .sale-body{
        margin: 0 auto;
        width: 80%;
    }

    .triangle{
        display: none;
    }

    .howsalepatern{
        display: none;
    }
    .howsalebodyPatern{
        display: none;
    }
    .howsalepatern4{
        display: block;
    }

    .howSale h2{
        line-height: normal;
        font-size: 28px;
        letter-spacing: 5px;
        width: 170px;
    }

    .howSale h4{
        margin-top: 60px;
    }

   
    .advantages-content{
        width: 100%;
    }
    .advantages-weapon{
        display: none;
    }
    .advantagesTitel{
        font-size: 40px;
        position: relative;
    }
    .weaponTitlePatern{
        display: block;
        position: absolute;
        top: 50%;
        left: -30px;
        transform: translateY(-50%);
        z-index: -1;

    }

    .advantages{
        padding: 0;
    }

    .productTitle{
        width: 100%;
        font-size: 28px;
        line-height: normal;
        text-align: right;
        letter-spacing: 5px;
    }

    .productTitleX, .productTitlePatern{
        display: none;
    }

    .productTitleText{
        width: 315px;
        position: relative;
    }

    .productTitleTextPatern{
        display: block;
        position: absolute;
        left: -109px;
        top: -14px;
        z-index: -1;
    }

    .productFooter{
        width: 100%;
        margin-left: 0;
    }

    .productFooter:before{
        width: 100%;
    }

    .productBodyPatternX, .productBodyPattern{
        display: none;
    }

    .productFooter button, .productAddBtn{
        display: flex;
    }

    .rewievItem{
        width: 100%;
        margin-top: 32px;
    }
    .rewievItemPattern{
        display: none;
    }
    .rewievItemPattern2{
        display: block;
    }
    .seoContent{
        width: 80%;
        margin: 52px 0;
    }
    .rectangle, .rectanglePatern{
        display: none;
    }
    .rectanglePaternX{
        left:141px;
        top: 0;
    }

    .contactTitleTriangle{
        display: none;
    }

    .contactTitlePatern{
        display: none;
    }

    .mapPattern{
        display: none;
    }

    .contactTitle{
        font-size: 28px;
        line-height: normal;
        text-align: center;
        letter-spacing: 5px;
    }

    .contact .contactTitle{
        text-align: left;
        font-size: 36px;
    }

    .contactTitlePatern2{
        display: block;
    }

    .contact{
        margin-top: 70px;
    }

    .footerMenuItem li{
        font-size: 2vmin;
    }

    .footerNumber{
        display: none !important;
    }

    .footer .logo{
        width: 97px;
    }

    .footerMenuItem{
        margin-top: 25px;
    }
    .logoNumber{
        display: block;
    }
    .footer .footerlogoPattern{
        display: none;
    }

    .footer .footerweapon{
        display: none;
    }

    .copriting{
        position: relative;
    }

    .copriting:before{
        content:'';
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(89.94deg, #DF172D , rgba(223, 23, 45, 0));

    }

    .footerlogoPattern2{
        display: block;
    }

    .footer{
        margin-top: 73px;
    }



    .howSaleBody{
        margin: 0;
    }
    .howSaleBody:before{
        width: 100%;
        height: 4px;
        left: -10px;
        top: -40px;
        background: linear-gradient(to left, #DF172D 0.01%, rgba(223, 23, 45, 0) 100%);
    }

    

    header .patern{
        display: none;
    }

    .patern2{
        display: block;
        position: absolute;
        top: 26px;
        left: -45px;
    }

    .sale .paralax4{
        position: absolute;
        right: 30%;
        top: 2%;
        width: 15%;
        z-index: -3;
    }

    .advantages.animate .animateTitleText{
        font-weight: ventibold;
        width: 315px;
        font-size: 28px;
        line-height: normal;
        text-align: center;
        letter-spacing: 5px;
        margin: 0 auto;
    }

    .articleViewImgPattern{
        display: none;
    }

    .articleViewImgPattern2{
        display: block;
    }

    .articleViewImgContent{
        margin-top: 22px;
    }

    .weaponImgBody{
        display: none;
    }

    
}

@media(max-width: 768px){
    .sale .paralax10{
        position: absolute;
        right: 24%;
        top: 20%;
        width: 4%;
        z-index: 3;
    }
    .redLine{
        display: none;
    }

    .phone{
        display: block
    }

    .sale .paralax {
        width: 650px;
        top: -120px;
        right: -100px;
    }

    .mapPattern{
        display: none;
    }

    .map{
        margin-top: 88px;
    }

    .subHeaderNumber, .headerBotomLine{
        display: none !important;
    }

    .productwhiteLine{
        width: 100%;
    }

    .specificationsLine, .specificationsText{
        font-size: 16px;
    }
    
    .contactTitleBox{
        width: 100%;
    }

    .swiper-pagination{
        display: block;
    }

    .sliderBtn{
        display: none;
    }

    .gallery-thumbs{
        opacity: 0;
        height: 0px;
    }


    .productitem:nth-child(7),
    .productitem:nth-child(8),
    .productitem:nth-child(9),
    .productitem:nth-child(10){
        display: none;
    }


}

@media(max-width: 766px){
    .aboutSaleTitle{
        position: initial;
        width: 100%;
    }

    .aboutSaleTitleSvg{
        top: 70px;
        left: 200px;
    }

    .aboutsSaleAnimationItem2Img{
        padding:0;
    }

    .aboutsSaleAnimationItem2 .aboutsSaleAnimationItemNumber{
        top: 270px;
    }

    .aboutsSaleAnimationItem4{
        margin-top: 40px;
    }

    .productFooter h5,
    .productFooter p{
        width: 100%;
    }

    .arrow{
        display: none;
    }

    .sale-form-modal-content.active, .sale-form-modal-content{
        width: 100%;
        overflow-y: auto;
        height: 100%;
    }

    .sale-form-modal{
        padding: 75px 30px 95px 30px;
    }

    .sale-form-modal-pattern{
        left: -100px;
    }
}

@media(max-width: 576px){
    .patern2{
        position: absolute;
        top: 26px;
        left: -40%;
    }
    .redLine{
        display: none;
    }

    .sale .paralax {
        display: none;
    }

    .sale .sale-title{
        width: 100%;
    }

    .sale .sale-title-x{
        display: block;
    }

    .paternx,
    .sale-body-patern{
        display: none;
    }

    .aboutSaleTitleSvg {
        display:block;
        left: 200px;
    }

    .advantagesTitel{
        font-size: 6vmin;
    }

    .productFooter button, .productAddBtn{
       width: 100%;
    }

    .seoContent{
        width: 90%;
    }
    .rectanglePaternX{
        left: -100px;
    }
    .footerMenuItem li{
        font-size: 16px;
    }

    .footer{
        margin-top: 9px;
        padding-top: 69px;
    }

    .footerCopiraiting{
        width: 100%;
        padding: 20px 0;
    }

    .copriting:before{
        top:84px;
    }

    .footerlogoPattern2{
        display: none;
    }

    .footerlogoPattern3{
        display: block;
    }

    .subMenuRedPattern{
        display: none;
    }

    .breadCrumb, .contactTitlePatternX{
        display: none;
    }

    .articleItem{
        margin-top: 30px;
    }

    .articleItemFooter{
        margin-top: 5px;
    }

    .articleItemDate{
        margin-right: 0;
        margin-bottom: 17px;
    }

    .tabs-item{
        font-size: 2.6vmin;
    }


    .productitem:nth-child(4),
    .productitem:nth-child(5),
    .productitem:nth-child(6),
    .productitem:nth-child(7),
    .productitem:nth-child(8),
    .productitem:nth-child(9),
    .productitem:nth-child(10){
        display: none;
    }

    

}

@media(max-width: 400px){
    .sale-title h1{
        font-size: 6.5vmin;
    }

    .sale-weapon .contact .email{
        font-size: 5vmin;
    }

    .sale-form h2{
        font-size: 5vmin;
    }

    .sale-weapon .contact .phoneNumber{
        font-size: 4vmin;
    }

    .aboutSaleTitle h2{
        font-size: 7vmin;
    }

    .logoNumber{
        font-size: 16px;
    }

    .footerMenuItem li {
        font-size: 13px;
    }

    .subMenu.active{
        width: 100%;
    }

    .articleViewImgContent,
    .articleViewImgContent img{
        width: 100%;
    }

    
}

@media(max-width: 350px){
    .subMenu ul li{
        margin-bottom: 30px;
        font-size: 13px;
    }
}